@page "/offers/view/{id:int}"
@inject HttpClient _client
@inject IJSRuntime js
@inject NavigationManager _navManager
@inject SweetAlertService swal
<h3>View</h3>

@if (Offers != null)
{
    var offer = Offers.FirstOrDefault(o => o.Id == id);
    if (offer != null)
    {
        <p>Listing Name: @offer.Listing.Name</p>
        <p>Description: @offer.Description</p>
        <p>Type:@offer.Listing.ListingType.Name</p>
        <p>Condition:@offer.Listing.ConditionType.Name</p>
        if (offer.Listing.Price == null)
        {
        }
        else
        {
            <p>Lisited Price:@offer.Listing.Price</p>
            <p>Offered Price:@offer.Price</p>
        }
        <button @onclick="() => Approve(offer.Id)">Approve</button>
        <button @onclick="() => Reject(offer.Id)">Reject</button>
    }
}
else
{
    <p>Loading Offer...</p>
}

<BacktoOffer Target="offers" />


@code {
    [Parameter] public int id { get; set; }

    private List<Offer>? Offers;
    Offer? offers = new Offer();
    protected async override Task OnInitializedAsync()
    {
        Offers = await _client.GetFromJsonAsync<List<Offer>>($"{Endpoints.OffersEndpoint}");

    }
    protected async Task Approve(int offerId)
    {

        var offer = Offers.FirstOrDefault(o => o.Id == offerId);
        if (offer != null)
        {
            var result = await swal.FireAsync(new SweetAlertOptions
                {
                    Title = "Confirmation",
                    Text =  "Do you wish to approve this offer?",
                    Icon = SweetAlertIcon.Warning,
                    ShowCancelButton =true,
                    ConfirmButtonText ="Approve",
                    CancelButtonText="No, let me rethink"
                });
            var confirm = !string.IsNullOrEmpty(result.Value);
            if (!confirm)
            {

            }
            else
            {
                swal.FireAsync(new SweetAlertOptions
                    {
                        Title = "Approved",
                        Text = "Woo-Hoo! You have made a deal!",
                        Icon = SweetAlertIcon.Success,
                    });
                offer.Status = "Approved";
                await _client.PutAsJsonAsync($"{Endpoints.OffersEndpoint}/{offerId}", offer);
                _navManager.NavigateTo("offers");
            }
        }

    }
    protected async Task Reject(int offerId)
    {

        var offer = Offers.FirstOrDefault(o => o.Id == offerId);
        if (offer != null)
        {
            var result = await swal.FireAsync(new SweetAlertOptions
                {
                    Title = "Confirmation",
                    Text = "Do you wish to reject this offer?",
                    Icon = SweetAlertIcon.Warning,
                    ShowCancelButton = true,
                    ConfirmButtonText = "Reject",
                    CancelButtonText = "No, let me rethink"
                });
            var confirm = !string.IsNullOrEmpty(result.Value);
            if (!confirm)
            {

            }
            else
            {
                var text=await swal.FireAsync(new SweetAlertOptions
                {
                    Title = "Reason for rejection",
                    Input = "text",
                    InputLabel = "Reason",
                    InputPlaceholder="Enter your reason",
                    Icon = SweetAlertIcon.Error,
                    
                });
               
                    offer.Reason = text.Value;
                    offer.Status = "Rejected";
                    await _client.PutAsJsonAsync($"{Endpoints.OffersEndpoint}/{offerId}", offer);
                    _navManager.NavigateTo("offers");
                
            }
        }
        }

    }

