 @page "/listings/view/{id:int}"
@inject HttpClient _client
@inject NavigationManager _navManager


<h3>View</h3>
<FormComponent listing="listing" Disabled="true" />
<br />
<br />
@code {
    [Parameter] public int id { get; set; }
    Listing? listing = new Listing();
    protected async override Task OnParametersSetAsync()
    {
        listing = await _client.GetFromJsonAsync<Listing>($"{Endpoints.ListingsEndpoint}/{id}");
    }

} 


